/* ----- IMPORT ----- */
@font-face {
	font-family: 'Editorial New';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/EditorialNew-Regular.woff2') format('woff2'),
		url('../fonts/EditorialNew-Regular.woff') format('woff');
}

/* ----- UTILITIES ----- */
.editorial-new-400 {
	font-family: 'Editorial New', 'Times New Roman', Times, serif;
	margin-top: 0.5rem;
}
