@import '_modals.css';
@import '_typography.css';
@import '_variables.css';

:root {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 2rem;
}
